# Node modules
node_modules/

# macOS
.DS_Store

# React Native / Android
android/.gradle/
android/app/.cxx/
android/app/build/
android/build/
android/local.properties
.gradle/

# iOS
ios/Pods/
ios/build/
ios/android/.gradle/
ios/android/app/.cxx/
ios/android/local.properties

# Build outputs
dist/
build/

# Environment
.env
.env.*

# Editor
.vscode/
.idea/

# Keystore
*.keystore
*.jks

